@import "../../scss/variables.scss";



.motto-navbar{
    @include motto-style();
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-right: 10px;
    padding-left: 290px;
    padding-bottom: 5px;
   
        &__inputSearch{
            @include motto-style();
            padding: 5px;
            margin-right: 20px;
            @include border-dashed-orange();
            color: white;
            background-color: $burgermeister-green;
            font-size: 20px;
        }
}

.search-and-arrow{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: $burgermeister-orange;
    font-size: 30px;
}


@media (max-width: $breakpoint-Samsung-S10){
    
    .motto-navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }

    .search-and-arrow{
        margin-top: 50px;
    }
}