@import "../scss/variables.scss";


.main-FilteredNeighborhoods{
  @include page-style();
  flex-grow: 1;
  color: $burgermeister-green;
  font-size: 100px;
  padding-top: 50px;
}


.sub-main-FilteredNeighborhoods {
  @include page-style();
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 150px;
  padding: 100px;
  
    &__singleElement{
      background-color: $burgermeister-white;
      color: $burgermeister-green;
      font-size: 100px;
      height: 340px;
      border: 2px solid $burgermeister-green;
      @include transition-to-white-bg-green();
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
 
}

