@import "../scss/variables.scss";

.landing-main{
    // @include page-style();
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
    //Blocking white spaces
    max-width: 450px;
    width: 450px;
    overflow-x: hidden;

        &__content{
            background-color: $burgermeister-white;
            flex-grow: 1;
            padding-top: 0px;
            height: 64vh;
        }


}


@media (max-width: $breakpoint-Samsung-S10){


.landing-main{
    
    width:$breakpoint-Samsung-S10;

    //Hiding YouTube video
    &__video-landing{
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
}

    
}