@import "../scss/variables.scss";

.main-neghborhoodProfile {
  @include page-style();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: $burgermeister-white;
  font-size: 25px;
}

.main-profile-image {
  position: relative;
  text-align: center;
  color: white;
  margin-block: 80px;
  // margin-top: 80px;
  // margin-bottom: 80px;

  &__centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px;
  }
}

.kiez-properties-title {
  color: $burgermeister-green;
  font-size: 100px;
  margin-bottom: 70px;
}

.history{
  margin-inline: 350px;
  margin-bottom: 40px;
}




@media (max-width: $breakpoint-Samsung-S10){

  .main-neghborhoodProfile{
    width: $breakpoint-Samsung-S10;
  }

  .main-profile-image {
    position: relative;
    text-align: center;
    color: white;
    margin-block: 80px;


    &__img{
      width: 450px;
    }
  
    &__centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 50px;
      width: 300px;
    }
  }

  .kiez-properties-title{
    font-size: 70px;
  }

  .history{
    width: $breakpoint-Samsung-S10;
  }

}