@import "./scss/variables.scss";

/*------------------ U N I V E R S A L   S E L E C T O R ------------------*/

*{
    text-decoration: none;
    box-sizing: border-box;
}





/*------------------ C O L O R   B O X E S ------------------*/

.redbox{
    border: 1px solid red;
}

.bluebox{
    border: 1px solid blue;
}

.greenbox{
    border: 1px solid green;
}

.purplebox{
    border: 1px solid purple;
}

.yellowbox{
    border: 1px solid yellow;
}

.brownbox{
    border: 1px solid brown;
}

.orangebox{
    border: 1px solid orange;
}

.pinkbox{
    border: 1px solid fuchsia;
}

.graybox{
    border: 1px solid rgb(29, 29, 29)
}

.blackbox{
    border: 1px solid rgb(0, 0, 0)
}

.whitebox{
    border: 1px solid white
}

.burgerMeisterbox{
    border: 1px solid #053520;
}


.redbox4{
    border: 4px solid red;
}

.bluebox4{
    border: 4px solid blue;
}

.greenbox4{
    border: 4px solid green;
}

.purplebox4{
    border: 4px solid purple;
}

.yellowbox4{
    border: 4px solid yellow;
}

.brownbox4{
    border: 4px solid brown;
}

.orangebox4{
    border: 4px solid orange;
}

.pinkbox4{
    border: 4px solid fuchsia;
}




/*-------------- A P P   S E L E C T O R S --------------*/
.App {
    text-align: center;
    height: 100vh; 
    

}



/*-------------- R O U T E R   P A G E   S E L E C T O R S --------------*/

.brouter-father{
    display: flex;
    flex-direction: column;
    height: 100%; 
}


.brouter-routes{
    display: flex;
    flex-grow: 1;
    
}























